<!-- <div class="container">
    <app-search (emitSearch)="searchGit($event)"></app-search><br>

    <div>
        <img id="avatar" src="{{Users.avatar_url}}" alt="profile pic" height="200px" width="250px">
        <p>Username: <strong>{{Users.login}}</strong></p>
        <p>Followers: <strong>{{Users.followers}}</strong></p>
        <p>Following: <strong>{{Users.followers}}</strong></p>
        <p>Public Repositories: <strong>{{Users.public_repos}}</strong></p>
    </div>
    <div *ngIf='Repos'>
        <div *ngFor='let repo of Repos'>
            <h3><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h3>
            <p> {{repo.description}} </p>

        </div>
    </div>
</div> -->
<div class="container">
    <div id="content" class="content p-0">
        <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
                <div class="profile-header-img mb-4">
                    <img [src]="user?.avatar_url" class="mb-4" alt="" />
                </div>
    
                <div class="profile-header-info">
                    <h4 class="m-t-sm">{{user?.name}}</h4>
                    <p class="m-b-sm">{{user?.bio}}</p>
                </div>
            </div>
        </div>
    
        <div class="profile-container">
            <div class="row">
                <div class="col-md-8">
    
                        
                            <div class="m-b-10"><b>Repositories</b></div>
    
                        <div class="row">
                    <ng-container *ngFor="let repo of Repos">
                        <div class="col-md-6">
                            <div class="card shadow"> 
                                <div class="card-body ">
                               <h5>{{repo?.name}}</h5>
                               <p>{{repo?.description}}</p>
                    
                                </div>
                            </div>
                        </div>
                    </ng-container>

                        </div>
                
                    
                </div>
    
                <div class="col-md-4 hidden-xs hidden-sm">
                    <ul class="profile-info-list">
                        <li class="title">PERSONAL INFORMATION</li>
                        <li>
                            <div class="field">Twitter:</div>
                            <div class="value">{{user?.twitter_username}}</div>
                        </li>
                        <li>
                            <div class="field">Email:</div>
                            <div class="value">{{user?.email}}</div>
                        </li>
                        <li>
                            <div class="field">Location:</div>
                            <div class="value">{{user?.location}}</div>
                        </li>
                        <li>
                            <div class="field">followers:</div>
                            <div class="value">{{user?.followers}}</div>
                        </li>
                        <li>
                            <div class="field">following:</div>
                            <div class="value">{{user?.following}}</div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>

