<!-- <div class="container-fluid d-flex justify-content-center">
   <div class="container  d-flex justify-content-center mt-5">
    <form (ngSubmit)='search($event)' #userForm='ngForm'>
        <input placeholder="search username ..." class="form-control" name ="searchTerm" [(ngModel)]="searchTerm" (keyup)="search($event)">
        <div>
            <button  class="btn-success btn" type="submit" >Submit</button>
        </div>
    </form>
   </div>
</div> -->
<div class="container-fluid wrapperDiv">
    <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <form [formGroup]="form">
              <input formControlName="userInput" class="search_input" type="text" placeholder="Enter your github username...">
              <button class="btn btn-sm btn-outline-primary searchButton" (click)="searchuser()" >search</button>
              
            </form>

      </div>
  
   
  </div>
