<div class="container">
    <app-search-form (emitSearch)="searchGit($event)"></app-search-form><br>

    <div>
        <img id="avatar" src="{{Users.avatar_url}}" alt="profile pic" height="200px" width="250px">
        <p>Username: <strong>{{Users.login}}</strong></p>
        <p>Followers: <strong>{{Users.followers}}</strong></p>
        <p>Following: <strong>{{Users.followers}}</strong></p>
        <p>Public Repositories: <strong>{{Users.public_repos}}</strong></p>
    </div>
    <div *ngIf='Repos'>
        <div *ngFor='let repo of Repos'>
            <h3>{{repo.name}}</h3>
            <p> {{repo.description}} </p>

        </div>
    </div>
</div>
